# Virtual environments
venv/
.venv/
env/
ENV/

# Python cache files
__pycache__/
*.py[cod]
*.class

# Database files
*.sqlite3
sync.db
sync.db-journal

# Environment variables and secrets
.env
.env.*
*.pem

# Kodi or Python log files
*.log

# Local development environments (VSCode, PyCharm, etc)
.vscode/
.idea/
